#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 70px;
    margin-top: 100px;
}
/* .work-list div{
    background: #1a1a1a;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
}  */
.work{
    border-radius: 1px;
    position: relative;
    overflow: hidden;
    border: 2px solid #101010;
    border-width: 20px;
    box-shadow: rgb(34 34 34) 0px 6px 5px;
    /* box-shadow: 5px rgb(34 34 34); */
    /* border-bottom-width: 105px; */
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    /* border: 2px solid #3c3c3c;
    border-width: 5px; */
}
.work:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #c1003c);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.work:hover .layer{
    height: 100%;
}
.work h5{
    padding: 10px;
    margin-left: 37px;
    font-weight: 500;
    color: #ff004f;
}
.portfolio-head{
    /* font-size: 18px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #ff004f;
    margin-bottom: 10px; */
    font-weight: 500;
    margin-bottom: 14px;
    font-size: 18px;
}
.layer a{
    margin-top: 14px;
    color: #ff004f;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.layer a:hover{
    color: #4d4d4d;
}
.portfolio-page-end{
    border: 0.5px solid #3c3c3c;
    border-radius: 6px;
    box-shadow: 0px 1px 3px #3c3c3c;
    width: 90%;
    margin-left: 68px;
    margin-top: 40px;
    margin-bottom: 90px;
}