#services{
    padding: 30px 0px;
}
.sub-title{
    font-size: 37px;
    /* margin-left: -53px; */
    font-family: 'Ubuntu', sans-serif;
    color: #ff004f;
    text-align: center;
    margin-top: -84px;
    margin-bottom: 70px;
}
.service-button{
    border-radius: 12px;
    background-color: #000000;
    border: 0px solid #262626;
    box-shadow: -5px 5px 4px #262626;
    border-bottom-width: 1px;
    /* border-color: antiquewhite; */
    width: 20%;
    margin-left: 481px;
    margin-bottom: 83px;
    text-align: center;
    padding-top: 9px;
    padding-left: 5px;
    padding-bottom: 9px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 70px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 4px;
    transition: background 0.5s, transform 0.5s;
}
/* .service-box{
    margin-top: 10px;
} */
.service-head{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #ff004f;
    margin-bottom: 10px;
}
.services-list div i{
    font-size: 23px;
    margin-bottom: 10px;
    color: #d5d5d5;
}
.service-para{
    font-size: 13.5px;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #e7e7e7;
    font-family: 'Poppins', sans-serif;
}
.services-list div a{
    font-size: 14px;
    /* margin-bottom: 10px; */
    color: #ff004f;
}
.services-list div:hover{
    background: #910a35;
    transform: translateY(-10px);
}
.services-list div a:hover{
    color: rgb(28, 119, 255);
}
.services-page-end{
    border: 0.5px solid #3c3c3c;
    border-radius: 6px;
    box-shadow: 0px 1px 3px #3c3c3c;
    width: 90%;
    margin-left: 68px;
    margin-top: 58px;
    margin-bottom: 90px;
}